.star-background2 {
  background-image: url(/images/background/stars3.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
  transition: background-position 1s ease-out;
}

.blockquote audio {
  max-width: 100%;
}
